.main-container-profile {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  
  .profile_left_sidebar {
    grid-area: 1 / 1 / 6 / 3;
    
  }

  .profile_right_sidebar {
    grid-area: 1 / 3 / 6 / 6;
    align-self: center
  }

  .card-container-profile {
    flex-direction: column;
    display: flex;
    margin: 20px;
    padding: 2em;
    border-radius: 5%;
    border: 1px solid #eee;
  }

  .user-data-item > label {
    font-weight: bold;
    margin-right: 0.5em;
  }

  .card-single-booking {
    display: flex;

  }

  .container-comment-history .testimonial_item {
    border: 1px solid #eeeeee;
    background: #fff;
    padding: 40px;
  }
  
  .container-comment-history .testimonial_item img {
    width: auto;
    margin-right: 30px;
  }
  
  .container-comment-history .testimonial_item p {
    color: #8c8d9e;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0px;
    padding-bottom: 15px;
  }
  
  .container-comment-history .testimonial_item .sec_h4 {
    line-height: 30px;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  
  .container-comment-history .testimonial_item .sec_h4:hover {
    color: #52c5fd;
  }
  
  .container-comment-history .testimonial_item .star a {
    color: #f3c300;
    font-size: 14px;
  }

  .buttons-single-comment .btn-reset:hover {
    background-color: #f3c300;
    color: #fff;
  }

  .buttons-single-comment .btn-reset {
    background-color: #fff;
    color: #222222;
    border: 1px solid #eee;
    padding: 2px 18px;
    font-size: 12px;
    display: block;
    font-weight: 600;
    -webkit-transition: all 300ms linear 0s;
    -o-transition: all 300ms linear 0s;
    transition: all 300ms linear 0s;
  }
  
  .profile-pagination {
    padding-top: 25px;
  }
  
  .profile-pagination .page-link {
    border-radius: 0;
  }
  
  .profile-pagination .page-item {
    border: none;
  }
   
  .profile-pagination .page-item.active .page-link {
    background-color: #f3c300;
    border-color: transparent;
    color: #fff;
  }
  
  .profile-pagination .page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #8a8a8a;
    border: none;
  }
  
  .profile-pagination .page-link .lnr {
    font-weight: 600;
  }
  
  .profile-pagination .page-item:last-child .page-link,
  .profile-pagination .page-item:first-child .page-link {
    border-radius: 0;
  }
  
  .profile-pagination .page-link:hover {
    color: #fff;
    text-decoration: none;
    background-color: #f3c300;
    border-color: #eee;
  }